@model RPA.Models.Chapter

@{
    ViewData["Title"] = "Edit";
}


<section class="content-header">
    <div class="header-icon">
        <i class="fa fa-users"></i>
    </div>
    <div class="header-title">
        <h1>Chapter</h1>
        <small>Are you sure you want to Edit this?</small>
    </div>
</section>

<div class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="card lobicard all_btn_card" id="lobicard-custom-control1" data-sortable="true">
                <div class="card-header all_card_btn">
                    <div class="card-title custom_title">
                        <a asp-action="Index" class="btn btn-add"><i class="fa fa-list"></i> Chapter List </a>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="title" class="control-label"></label>
                            <input asp-for="title" class="form-control" />
                            <span asp-validation-for="title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>